<div>
    <dynamic-grid data="data" metadata-config="metadata" ui-scope="uiScope" editable sortable>
        <div class="lrs-grid-controls" ng-if="showControls">
            <table>
                <tr>
                    <td>
                        <button class="glyphicon glyphicon-backward"></button>
                    </td>
                    <td>
                        <button class="glyphicon glyphicon-chevron-left"></button>
                    </td>
                    <td>
                        <button class="glyphicon glyphicon-chevron-right"></button>
                    </td>
                    <td>
                        <button class="glyphicon glyphicon-forward"></button>
                    </td>

                    <td class="separator"></td>

                    <td>
                        <button>Split</button>
                    </td>
                    <td>
                        <button>Merge</button>
                    </td>
                    <td>
                        <button>Add Event</button>
                    </td>
                    <td>
                        <button>Retire Event</button>
                    </td>
                    <td>
                        <button>Save</button>
                    </td>
                </tr>
            </table>
        </div>
    </dynamic-grid>
</div>