.lrs-grid-controls {
  padding-bottom: 2px;
}

.lrs-grid-controls table {
  margin-left: auto;
  margin-right: auto;
}

.lrs-grid-controls tr td {
  padding-left: 2px;
  padding-right: 2px;
}

.lrs-grid-controls .separator {
  width: 25px;
}